<div class="space-y-8">

    <%= render "pages/header" %>

    <%= render "pages/login_buttons" %>

    <%= render "pages/filler" %>
    <%= render "pages/filler" %>
    <%= render "pages/filler" %>
    <%= render "pages/filler" %>

    <%= render "pages/map" %>
</div>
