<div class="space-y-8">

    <%= render "pages/header" %>

    <%= render "pages/filler" %>
    <%= render "pages/filler" %>
    <%= render "pages/filler" %>
    <%= render "pages/filler" %>

    <%= render "pages/registration_form" %>

    <%= render "pages/map" %>

    
</div>
